.container{
    margin: 30px;
}

.mt-20 {
    margin-top: 20px;
}
#left{
    width: 30%;
    float: left;
}
#right{
    float: right;
    width: 70%;
    height: auto;
}
#gifs-container img{
    height: 150px;
    width: auto;
}